.menu-administrador-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-administrador-menu-administrador {
  width: 1024px;
  height: 768px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-administrador-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 102px;
  position: absolute;
}
.menu-administrador-rectangle6 {
  top: 120px;
  left: 0px;
  width: 1024px;
  height: 648px;
  position: absolute;
}
.menu-administrador-rectangle15 {
  top: 265px;
  left: 198px;
  width: 627px;
  height: 464px;
  position: absolute;
  border-radius: 16px;
}
.menu-administrador-text {
  top: 41px;
  left: 178px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-text02 {
  top: 41px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-text04 {
  top: 41px;
  left: 673px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-istockphoto868292512170667a1 {
  top: 265px;
  left: 198px;
  width: 627px;
  height: 464px;
  position: absolute;
  border-radius: 16px;
}
.menu-administrador-text06 {
  top: 31px;
  left: 327px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-rectangle7 {
  top: 102px;
  left: 0px;
  width: 1024px;
  height: 18px;
  position: absolute;
}
.menu-administrador-text11 {
  top: 71px;
  left: 57px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-pngtransparentgraphylogoveterinarianveterinarymedi {
  top: 6px;
  left: 59px;
  width: 62px;
  height: 58px;
  position: absolute;
}
.menu-administrador-rectangle12 {
  top: 142.62744140625px;
  left: 27.0263671875px;
  width: 971px;
  height: 104px;
  position: absolute;
  border-radius: 24px;
}
.menu-administrador-text13 {
  top: 156px;
  left: 281px;
  color: rgba(0, 0, 0, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-rectangle17 {
  top: 328px;
  left: 281px;
  width: 166px;
  height: 50px;
  position: absolute;
  border-radius: 13px;
}
.menu-administrador-download2 {
  top: 578px;
  left: 431px;
  width: 168px;
  height: 151px;
  position: absolute;
}
.menu-administrador-text18 {
  top: 41px;
  left: 848px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-lentes1 {
  top: 614.4052734375px;
  left: 515.08203125px;
  width: 51px;
  height: 32px;
  position: absolute;
}
.menu-administrador-rectangle171 {
  top: 328px;
  left: 576px;
  width: 166px;
  height: 50px;
  position: absolute;
}
.menu-administrador-text20 {
  top: 332.859375px;
  left: 301px;
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-rectangle18 {
  top: 509px;
  left: 576px;
  width: 166px;
  height: 50px;
  position: absolute;
  border-radius: 13px;
}
.menu-administrador-text22 {
  top: 523px;
  left: 620px;
  color: rgba(255, 255, 255, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-rectangle172 {
  top: 509px;
  left: 281px;
  width: 166px;
  height: 50px;
  position: absolute;
}
.menu-administrador-text24 {
  top: 524px;
  left: 307px;
  color: rgba(255, 255, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-text26 {
  top: 343px;
  left: 632px;
  color: rgba(255, 255, 255, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-administrador-downloadremovebgpreview42 {
  top: 31px;
  left: 924px;
  width: 41px;
  height: 41px;
  position: absolute;
}
