#principal {
    border: solid 2px black;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
}

fieldset {
    margin-bottom: 10px;
    background-color: rgb(144, 196, 231);
}

legend {
    border: solid 1px rgb(64, 117, 214);
    padding: 5px;
    font-weight: bold;
    background: lightblue   ;
    border-radius: 20px;
}

#mifoto {
    border: solid 2px;
    margin: 10px;
}

body {
    background: url(../fondodd.jpg);
    background-size: 100%;
}