    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
      }
  
      /* Header */
      header {
        background-color: #f44336;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
  
      header h1 {
        margin: 0;
        font-size: 28px;
      }
  
      /* Menú de navegación */
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
  
      nav ul li {
        display: inline;
        margin-right: 10px;
      }
  
      nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
      }
  
      /* Contenido principal */
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
      }
  
      .box {
        width: 300px;
        padding: 20px;
        margin: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
      }
  
      .box:hover {
        transform: rotate(5deg);
      }
  
      .box h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
  
      .box p {
        font-size: 14px;
        color: #777;
      }
  
      /* Footer */
      footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
      }
  
      footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 5px;
      }
  
      footer a:hover {
        text-decoration: underline;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      
      .main-section {
        text-align: center;
      }
      
      .animated-image {
        position: relative;
        animation-name: slideRight;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      @keyframes slideRight {
        0% {
          left: 0;
        }
        100% {
          left: calc(100% - 60px);
        }
      }
    
      .image-container {
        display: flex;
        justify-content: left;
        align-items: center;
      }
      
      .rotated-image {
        transform: rotate(90deg);
      }
      
      