.menu-accesos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-accesos-menu-accesos {
  width: 1024px;
  height: 768px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-accesos-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 102px;
  position: absolute;
}
.menu-accesos-rectangle6 {
  top: 120px;
  left: 0px;
  width: 1024px;
  height: 648px;
  position: absolute;
  border-radius: 16px;
}
.menu-accesos-rectangle15 {
  top: 265px;
  left: 217px;
  width: 589px;
  height: 464px;
  position: absolute;
  border-radius: 16px;
}
.menu-accesos-text {
  top: 41px;
  left: 178px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-text02 {
  top: 41px;
  left: 500px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-text04 {
  top: 41px;
  left: 673px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-istockphoto868292512170667a1 {
  top: 265px;
  left: 217px;
  width: 589px;
  height: 464px;
  position: absolute;
  border-radius: 16px;
}
.menu-accesos-text06 {
  top: 31px;
  left: 327px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-rectangle7 {
  top: 102px;
  left: 0px;
  width: 1024px;
  height: 18px;
  position: absolute;
}
.menu-accesos-text11 {
  top: 71px;
  left: 57px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-pngtransparentgraphylogoveterinarianveterinarymedi {
  top: 6px;
  left: 59px;
  width: 62px;
  height: 58px;
  position: absolute;
}
.menu-accesos-rectangle12 {
  top: 142.6279296875px;
  left: 27.0263671875px;
  width: 971px;
  height: 104px;
  position: absolute;
  border-radius: 24px;
}
.menu-accesos-text13 {
  top: 141px;
  left: 206px;
  color: rgba(0, 0, 0, 1);
  width: 612px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-text18 {
  top: 41px;
  left: 848px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-rectangle17 {
  top: 633px;
  left: 429px;
  width: 166px;
  height: 50px;
  position: absolute;
}
.menu-accesos-rectangle171 {
  top: 479px;
  left: 434px;
  width: 166px;
  height: 50px;
  position: absolute;
}
.menu-accesos-rectangle18 {
  top: 340px;
  left: 429px;
  width: 166px;
  height: 50px;
  position: absolute;
}
.menu-accesos-text20 {
  top: 494px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-text22 {
  top: 648px;
  left: 450px;
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-text24 {
  top: 355px;
  left: 450px;
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-accesos-downloadremovebgpreview42 {
  top: 31px;
  left: 924px;
  width: 41px;
  height: 41px;
  position: absolute;
}
