.historial-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.historial-historial {
  width: 1024px;
  height: 768px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.historial-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 102px;
  position: absolute;
}
.historial-rectangle6 {
  top: 120px;
  left: 0px;
  width: 1024px;
  height: 648px;
  position: absolute;
}
.historial-download1 {
  top: 120px;
  left: 0px;
  width: 1024px;
  height: 648px;
  position: absolute;
}
.historial-text {
  top: 41px;
  left: 174px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text02 {
  top: 41px;
  left: 438px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text04 {
  top: 41px;
  left: 586px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text06 {
  top: 41px;
  left: 892px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text08 {
  top: 31px;
  left: 749px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text13 {
  top: 31px;
  left: 291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-rectangle7 {
  top: 102px;
  left: 0px;
  width: 1024px;
  height: 18px;
  position: absolute;
}
.historial-text18 {
  top: 71px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-pngtransparentgraphylogoveterinarianveterinarymedi {
  top: 6px;
  left: 36px;
  width: 62px;
  height: 58px;
  position: absolute;
}
.historial-rectangle12 {
  top: 130px;
  left: 26px;
  width: 970px;
  height: 60px;
  position: absolute;
  border-radius: 24px;
}
.historial-text20 {
  top: 141px;
  left: 374px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-rectangle15 {
  top: 200px;
  left: 34px;
  width: 970px;
  height: 554px;
  position: absolute;
  border-radius: 16px;
}
.historial-rectangle16 {
  top: 216px;
  left: 66px;
  width: 925px;
  height: 523px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
}
.historial-text22 {
  top: 150px;
  left: 98px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-downloadremovebgpreview41 {
  top: 140px;
  left: 45px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.historial-rectangle57 {
  top: 231px;
  left: 91px;
  width: 876px;
  height: 39px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
}
.historial-rectangle58 {
  top: 281px;
  left: 91px;
  width: 876px;
  height: 441px;
  position: absolute;
  border-radius: 24px;
}
.historial-text24 {
  top: 241px;
  left: 333px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text26 {
  top: 241px;
  left: 505px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text28 {
  top: 241px;
  left: 651px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text30 {
  top: 241px;
  left: 112px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-text32 {
  top: 241px;
  left: 808px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.historial-line1 {
  top: 301px;
  left: 302px;
  width: 402px;
  height: 1px;
  position: absolute;
}
.historial-line4 {
  top: 301px;
  left: 782px;
  width: 402px;
  height: 1px;
  position: absolute;
}
.historial-line3 {
  top: 301px;
  left: 615px;
  width: 402px;
  height: 1px;
  position: absolute;
}
.historial-line2 {
  top: 301px;
  left: 471px;
  width: 402px;
  height: 1px;
  position: absolute;
}
